*{
    padding: 0;
    font-family: 'Poppin', sans-serif;
}
body h1{
    font-size: 20px;
}
.navigation{
    padding-left: 28%;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #432094;
    margin-top: 10px;
    margin-left: 5%;
    width: 62%;
    border-radius: 6px;
}
.navigation a{
    margin-right: 100px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.navigation a:last-child{
    margin-right: 50px;
}
.introduction{
    margin: 10px 5%;
    background: beige;
    border-radius: 6px;
}
.introduction{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.intro-left{
    flex-basis: 25%;
}
.intro-left h4{
    font-size: 20px;
    font-weight: 300;
    margin-left: 10px;
    text-align: center;
}
.intro-right{
    flex-basis: 60%;
}
.intro-right-row2 ul li{
    font-size: 18px;
    font-weight: 300;
    margin-right: 20px;
    padding-bottom: 10px;
}
.intro-left img{
    width: 300px;
    border-radius: 50%;
    margin-left: 10px;
}
.intro-right h2,.intro-right-row2 h2{
    font-size: 20px;
}
.intro-right-row1 ul{
    display: block;
    list-style: none;
    
}
.intro-right-row1 ul li,a{
    margin-bottom: 15px;
}
.intro-right h1{
    font-size: 20px
}

/* Objective section */
.objective{
    background: rgb(232, 223, 223);
    border-radius: 6px;
    margin: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.title{
    flex-basis: 33%;
    margin-left: 20px;
    font-size: 18px;
}
.content{
    flex-basis: 60%;
    font-size: 18px;
    font-weight: 300;
    line-height: 20pt;
    text-align: justify;
    margin-right: 20px;
}
.fa-solid{
    width: 2px;
    margin-right: 20px;
}

/* Education section*/
.education{
    border-radius: 6px;
    margin: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background: rgb(232, 223, 223);
}
.education-detail{
    flex-basis: 60%;
    font-size: 18px;
    line-height: 12pt;
    text-align: justify;
    margin-right: 20px; 
}
.education-detail p{
    margin-left: 20px;
    font-size: 18px;
}

/*Work history*/
.work-history{
    border-radius: 6px;
    background: rgb(232, 223, 223);
    margin: 10px 5%;
}
.work-history h1{
    padding-top: 10px;
    margin-left: 20px;
    font-size: 20px;
}
.work-history h2{
    padding-top: 10px;
    margin-left: 20px;
    font-size: 18px;
}
.work-history h3{
    padding-top: 10px;
    margin-left: 20px;
    font-size: 18px;
}
.work-history-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: justify;
}
.work-place1{
    flex-basis: 33%;
}
.work-place1 h1,.work-place2 h1,.work-place3 h1{
    padding-left: 30px;
}
.work-place1 h1{
   padding-top: -40px;
}

.work-detail{
    flex-basis: 60%;
    text-align: justify;
    margin-right: 20px;
    line-height: 18pt;
}
.work-detail li{
    list-style-type:decimal;
}
.work-detail h1{
    font-size: 20px;
}
.head-title{
    margin-left: 5%;
}
.head-title .fa-briefcase{
    width: 2px;
    margin-right: 20px;
}


.interest{
    border-radius: 6px;
    background: rgb(232, 223, 223);
    margin: 10px 5%;
    display: flex;
    justify-content: space-between;
}
.interest-detail{
    flex-basis: 60%;
    text-align: justify;
    margin-right: 20px;
    line-height: 18pt;
}


.skills{
    border-radius: 6px;
    background: rgb(232, 223, 223);
    margin: 10px 5%;
    display: flex;
    justify-content: space-between;
}
.skills-detail{
    flex-basis: 60%;
    text-align: justify;
    margin-right: 20px; 
}
.skills-detail li{
    font-size: 18px;
}

.award{
    border-radius: 6px;
    background: rgb(232, 223, 223);
    margin: 10px 5%;
    display: flex;
    justify-content: space-between;
}
.award-detail{
    flex-basis: 60%;
    text-align: justify;
    margin-right: 20px;
    line-height: 18pt; 
}

.publications{
    border-radius: 6px;
    background: rgb(232, 223, 223);
    margin: 10px 5%;
    display: flex;
    justify-content: space-between;
}
.publications-detail{
    flex-basis: 60%;
    text-align: justify;
    margin-right: 20px;
    line-height: 18pt; 
}

#hobby{
    border-radius: 6px;
    background: rgb(232, 223, 223);
    margin: 10px 5%;
}
.hobby-title h1{
    margin-left: 20px;
    padding-top: 10px;
}
.hobby-container{
    margin: 10px 0;
    display: flex;
    justify-content: space-between; 
}
.hobby-col1{
    flex-basis: 33%;
    margin-left: 20px;
}
.hobby-col2{
    flex-basis: 60%;
    text-align: justify;
    margin-right: 20px;
    line-height: 16pt; 
}
.marathon{
    width: 300px;
    border-radius: 6px;
}
.hiking{
    width: 300px;
    border-radius: 6px;
}
.other-pic{
    display: inline-block;
}
.other-pic img{
height: 150px;
margin-right: 50px;
border-radius: 20px;
}
/* ------- Footer-------*/

.footer{
    margin-top: 30px;
    margin-left: 40%;
    align-items: center;
}
.footer p{
    font-size: 16px;
    color: rgb(163, 160, 160);
}

@media (max-width: 800px){
    .navigation {
        padding:10px;
        display: inline-block;
        background: #432094;
        margin: 0px;
        width: 100%;
        border-radius: 6px;
    }
    .navigation a {
        margin-right: 5px;
        text-decoration: none;
        color: #fff;
        font-size: 15px;
        cursor: pointer;
    }
    .navigation a:last-child{
        margin: 0;
    }
    .introduction {
        display: block;
        margin: 10px 1%;
        background: beige;
        border-radius: 6px;
    }
    .intro-left{
        margin: auto;
        display: block;
        justify-content: center;
    align-items: center
    }
    .intro-left img {
        width: 150px;
        border-radius: 50%;
        max-width: 100%;
        height: auto;
        margin-left: 30%;
    }

    .intro-left h4 {
        font-size: 15px;
        margin-left: 0;
        text-align: center;
        padding: 10px;
    }

    body h1 {
        font-size: 16px;
    }
    body {
        padding: 0;
        margin: 0;
        display: block;
    }
    .objective, .education, .work-history-container {
        margin: 10px 1%;
        padding: 0;
        display: block;
        font-size: 15px;

    }
    .content, .education-detail, .work-detail {
        flex-basis: 100%;
        font-size: 14px;
        font-weight: 200;
        line-height: 20pt;
        text-align: justify;
        margin-right: 10px;
        padding: 10px;
    }
    .content p{
        padding: 5px;
        margin: 0;
    }
    .title, .work-place1, .work-place2, .work-place3{
        flex-basis: 100%;
        margin-left: 10px;
        font-size: 18px;
    }
    .title h1{
        padding-top: 10px;
        text-align: center;
        margin: 0;
    }
    .footer{
        margin-top: 30px;
        margin-left: 30%;
        align-items: center;
    }
    .education {

        margin: 10px 1%;
    }
    .work-history {
        margin: 10px 1%;
    }
    .work-detail {
        flex-basis: 55%;
        text-align: justify;
        margin-right: 20px;
        line-height: 13pt;
    }
    .work-history h1 {
        padding-top: 10px;
        text-align: center;
        font-size: 18px;
        margin: 0;
    }
    .work-history h2{
        padding: 0px;
        text-align: center;
        font-size: 16px;
        margin: 0;
    }
    .work-history h3{
        padding: 0px;
        margin: 0;
        text-align: center;
        font-size: 15px;
    }

    .education-detail P{
        padding: 0px 5px;
        font-size: 15px;
    }
    
    .interest, .skills, .award, .publications, #hobby {

        margin: 10px 1%;
    }
    .interest{
        border-radius: 6px;
        background: rgb(232, 223, 223);
        margin: 10px 1%;
        display: block;
        justify-content: space-between;
    }
    .interest-detail {
        flex-basis: 100%;
    }
    .interest-detail p{
        margin: 0;
        padding: 10px;
        font-size: 14px;
        text-align: justify;
    }

    .skills{
        margin: 10px 1%;
        display: block;
        justify-content: center;
        padding: 10px;
    }
    .skills-detail{
        flex-basis: 100%;
        text-align: justify;
        margin:0 5px;
        line-height: 16pt; 
    }
    .skills-detail li{
        font-size: 14px;
        font-weight: 200;
    }
    .award{
        margin: 10px 1%;
        display: block;
        justify-content: center;
    }
    .award-detail{
        flex-basis: 100%;
        text-align: justify;
        margin: 0;
        padding: 10px;
        font-size: 14px;
        line-height: 16pt; 
    }
    .publications{
        margin: 10px 1%;
        display: block;
        justify-content: center;
    }
    .publications-detail{
        flex-basis: 100%;
        text-align: justify;
        margin:0;
        font-size: 14px;
        padding: 10px;
        line-height: 16pt; 
    }
    #hobby{
        border-radius: 6px;
        background: rgb(232, 223, 223);
        margin: 10px 1%;
    }
    .hobby-title h1{
        margin-left: 20px;
        padding-top: 10px;
        text-align: center;
    }
    .hobby-container{
        margin: 0;
        padding: 10px;
        display: block;
        justify-content: center; 
    }
    .hobby-col1{
        flex-basis: 100%;
        margin: 0;
    }
    .hobby-col2{
        flex-basis: 100%;
        text-align: justify;
        margin: 0px;
        padding: 10px;
        font-size: 14px;
        line-height: 16pt; 
    }

    .marathon img{
        margin: 0;
    }
    .marathon, .hiking {
        width: 200px;
        border-radius: 6px;
        margin:0 5px;
    }
    .other-pic img {
        height: 80px;
        margin-right: 20px;
        border-radius: 20px;
    }
    .intro-left{
        flex-basis: 100%;
    }
    .intro-right{
        flex-basis: 100%;
        padding-bottom: 5px;
    }
    .intro-right-row2 h1 {
        font-size: 18px;
        text-align: center;
    }
    .intro-right-row2 ul li {
    font-size: 14px;
    font-weight: 200;
    margin-left: 10px;
    padding: 3px 0;
    text-align: justify;
}
.intro-right-row2{
    margin: 20px 20px;
}
.head-title{
    align-items: center;
    font-size: 18px;
}
}
