#head{
    background-color: beige;
    margin: 0;
    
    
}
html{
    margin: 0 20px;
}

#head h1{
    background-color: thistle;
    color: rgba(214, 138, 123, 0.801);
    text-shadow: -.05em -.05em .05em purple,
    .05em .03em .05em white;
    text-align: center;
}
#head h4{
    color: black;
    font-family: sans-serif;
    font-size: 32px;
    text-align: center;
    border: 1px solid red;
    border-radius: 15px;
    background-color: antiquewhite;
}
.image span{
    color: blue;
}


/* 
#head h1 {text-align: center; color: red;} */

body{
    margin: 0 0;
    line-height: 1.8;
}
.head-text{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
}
.image{
    flex-basis: 40%;

}
.image img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
}
.intro{
    flex-basis: 55%;
    
}
.intro h5{
    color: black;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-align: justify;
}
.footer h2{
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: black;
    text-align: justify;
}
.footer h3 {
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 500;
    color: black;
}
.head-text li{
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 500;
}
.head-text li span{
    color: green;
}
/*-----------Objective ststement----------*/
.statment{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: justify;
    
}
/*-------------Experiences-----------*/
.experience-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: justify; 
}
.experience-list1{
    flex-basis: 25%;
    margin-left: 40px;
}
.experience-list2{
    flex-basis: 65%;
}
.experience-list2 li{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
}
/*-----------education-------------*/
/*---------Footer ---------*/
.footer{
	width: 70%;
	text-align: justify;
	padding: 30px;

}
.footer h4{
	margin-bottom: 0;
	margin-top: 400px;
	font-weight: 600;
}

.icons .fa, .icons .fa-solid{
	color: #f44336;
	margin: 0 13px;
	cursor: pointer;
	padding: 18px 0;
}
.fa-heart-o, .fa-phone{
	color: #f44336;
}
.education .fa-user-graduate {
    color: #f44336;
}

.foot p{

    font-size: 24px;
    font-weight: 500;
    text-align: center;

}

/*---------hobby-----------*/

.list, .education, .Interest, .skills, .award, .publications{
    display: flex;
    justify-content: space-between;
    text-align: justify;
    padding: 20px 0;
    flex-wrap: wrap;
}
.list img{
    width: 450px;
    height: 300px;
    border-radius: 15px;
}
.list1.im2 img{
    width: 450px; 
    height: 675px;
}
.list1{
    flex-basis: 30%;
    
}
.list2{
    flex-basis: 65%;
    
}
.education li , p,.Interest li,p,.skills li,p, .award li,p,.publications li,p{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.education h1,.Interest h1,.skills h1, .award h1,.publications h1,.list2 h1{
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-align: justify;
}

@media screen and (max-width: 700px){
    .intro{
       width: 100%;
       box-sizing: border-box;
       flex-basis: 100%;
    }
    .intro h5{
        color: black;
        font-family: sans-serif;
        font-size: 24px;
        text-align: center;
        font-weight: 500;
    }
    .image{
        display: grid;
        place-items: center;
        flex-basis: 100%;
        padding-bottom: 2%;
        box-sizing: border-box;
    }
    .image img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        
        
    }
    .footer li,h2{

        text-align: center;
        margin-left: 20%;
    }
    .head-text li{
        font-size: 14px;
        font-family: sans-serif;
        font-weight: 250;
    }
    .footer h3 {
        font-size: 14px;
        font-family: sans-serif;
        font-weight: 500;
        color: black;
    }
    .footer h2{

        font-size: 24px;
        font-weight: 500;
        text-align: center;

    }
    .foot p{

        font-size: 18px;
        font-weight: 500;
        text-align: center;

    }
    .education li , p,.Interest li,p,.skills li,p, .award li,p,.publications li,p{
        font-family: sans-serif;
        font-size: 14px;
        font-weight: 250;
    }
    .education h1,.Interest h1,.skills h1, .award h1,.publications h1,.list2 h1{
        font-family: sans-serif;
        font-size: 24px;
        font-weight: 500;
        text-align: center;
    }
    /*
    #head h1{
        font-size: 24px;
    }*/
    .list1 img{
        width: 225px;
        height: 150px;
        border-radius: 15px;
        align-items: center;
        
    }
    .list1.im2,.list1.im1 {
        display: flex;
        justify-content: center;
        
    }
    .list1.im2 img{
       /* width: 225px; 
        height: 336px;*/
        height: auto;
        max-width: 100%;
        
    }
    .list1{
        width: 100%;
        box-sizing: border-box;
        flex-basis: 100%;
     
    }
    .list2{
        width: 100%;
        box-sizing: border-box;
        flex-basis: 100%;
    }
   .list2 li{
        text-align: center ;
   }
    /*
    .list1 h1{
        text-align: center;
     
    }
    .list2 h1,.list2 li{
        text-align: center ;
    }*/
    #hobby h1{
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        font-family: sans-serif;
       }
       .experience-list1{
        width: 100%;
        flex-basis: 100%;
        margin-left: 0px;
    }
    .experience-list2{
        width: 100%;
        flex-basis: 100%;
    }
    .experience-list h1{
        font-size: 16px;
        font-weight: 550;
        font-family: sans-serif;
        text-align: center;
    }
    .experience-list1 h1{
        font-size: 20px;
        font-family: sans-serif;
        font-weight: 500;
        text-align: center;
    }
    .exp-head h1{
        font-size: 24px;
        font-family: sans-serif;
        font-weight: 500;
        text-align: center;
    }
}
